*{
    margin: 0;
    padding: 0;
}


body{
    border: solid black 1px;
    margin-top: 10rem;
    margin-left: 30rem;
    margin-right: 30rem;
    border-radius: 2rem;
    height: 30rem;
    background-color: antiquewhite;

}

.text{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
}

.area{
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-width: 1px;
    padding: 5px;
    height: 15rem;
    border-radius: 5px;
    width: 20rem;
}

.btn{
    margin-bottom: 1rem;
    border-radius: 5px;
    

    
}

.cncl{
    margin-right: 2rem;
   
}

.upld{
    margin-left: 2rem;
    
} 

